# Import

In [2]:
import pandas as pd

# Data

In [3]:
file1 = 'data/globalterrorismdb_2021Jan-June_1222dist.xlsx'
file2 = 'data/globalterrorismdb_0522dist.xlsx'

df1 = pd.read_excel('data/globalterrorismdb_2021Jan-June_1222dist.xlsx')
df1.shape

(4960, 135)

In [4]:
df2 = pd.read_excel('data/globalterrorismdb_0522dist.xlsx')
df2.shape

(209706, 135)

In [5]:
def isColumnsEqual(df1, df2) -> bool:
    """
    Check if the columns of two dataframes are equal
    @param df1: dataframe 1
    @param df2: dataframe 2
    @return: True if the columns are equal, False otherwise
    """
    return df1.columns.equals(df2.columns)

print("Columns equals", isColumnsEqual(df1, df2))

def columnsEmpty(df) -> list:
    """
    Check if the columns of a dataframe contain some empty values and retuirn the columns with empty values
    @param df: dataframe
    @return: list of columns with empty values
    """
    return df.columns[df.isnull().any()].tolist()

columnsempty = columnsEmpty(df1)
columnsempty

Columns equals True

['approxdate',
 'resolution',
 'latitude',
 'longitude',
 'location',
 'alternative',
 'alternative_txt',
 'multiple',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain2',
 'guncertain3',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite2',
 'scite3',
 'related']

In [6]:
len(columnsempty)

93

In [7]:
top_terroist = df1['gname'].value_counts()
top_terroist.head(10)

gname
Unknown                                        1769
Taliban                                         954
Houthi extremists (Ansar Allah)                 320
Islamic State of Iraq and the Levant (ISIL)     225
Fulani extremists                               181
Boko Haram                                      139
Al-Shabaab                                      128
Maoists                                          73
Indigenous People of Biafra (IPOB)               69
Allied Democratic Forces (ADF)                   68
Name: count, dtype: int64

In [25]:
country_counts = df1['country_txt'].value_counts()
country_counts.head(25)

country_txt
Afghanistan                         1453
Iraq                                 547
Nigeria                              448
Yemen                                290
India                                235
Myanmar                              216
Pakistan                             150
Syria                                144
Democratic Republic of the Congo     142
Somalia                              125
Philippines                          104
Israel                               101
Saudi Arabia                          94
Mali                                  76
Colombia                              76
Burkina Faso                          53
Cameroon                              46
Chile                                 45
West Bank and Gaza Strip              42
Mozambique                            41
United Kingdom                        40
Niger                                 38
Ethiopia                              36
Kenya                                 33
Thailand                              27
Name: count, dtype: int64

In [26]:
attack_type = df1['attacktype1_txt'].value_counts()
attack_type

attacktype1_txt
Bombing/Explosion                      1828
Armed Assault                          1292
Unknown                                 603
Assassination                           450
Hostage Taking (Kidnapping)             448
Facility/Infrastructure Attack          281
Unarmed Assault                          28
Hostage Taking (Barricade Incident)      16
Hijacking                                14
Name: count, dtype: int64

In [27]:
weapon_type = df1['weaptype1_txt'].value_counts()
weapon_type

weaptype1_txt
Explosives                                                                     2089
Firearms                                                                       1718
Unknown                                                                         775
Incendiary                                                                      259
Melee                                                                            97
Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)       9
Sabotage Equipment                                                                7
Chemical                                                                          4
Other                                                                             2
Name: count, dtype: int64

In [42]:
Chemical = df1[df1['weaptype1_txt'] == 'Chemical']
Chemical

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
1600,202101080004,2021,1,8,NaN,0,NaT,4,Afghanistan,6,...,NaN,"""Afghan War Casualty Report: January 2021,"" NY...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
2185,202102140032,2021,2,14,NaN,0,NaT,4,Afghanistan,6,...,Casualties represent a division of the total n...,"""Taliban, Afghan forces suffer several casualt...",NaN,NaN,START Primary Collection,0,0,0,0,"202102140032, 202102140033"
2186,202102140033,2021,2,14,NaN,0,NaT,4,Afghanistan,6,...,Casualties represent a division of the total n...,"""Taliban, Afghan forces suffer several casualt...",NaN,NaN,START Primary Collection,0,0,0,0,"202102140032, 202102140033"
4054,202105240030,2021,5,24,NaN,0,NaT,199,Switzerland,8,...,NaN,"""Terrorist PKK supporters use poison to attack...",NaN,NaN,START Primary Collection,1,0,1,1,NaN

In [31]:
weapon_subtype = df1['weapsubtype1_txt'].value_counts()
weapon_subtype.head(10)

weapsubtype1_txt
Unknown Gun Type                             1410
Unknown Explosive Type                        731
Projectile (rockets, mortars, RPGs, etc.)     420
Landmine                                      238
Arson/Fire                                    188
Automatic or Semi-Automatic Rifle             177
Vehicle                                       174
Remote Trigger                                142
Sticky Bomb                                   112
Grenade                                       107
Name: count, dtype: int64

In [32]:
weapon_subtype = df2['weapsubtype1_txt'].value_counts()
weapon_subtype.head(10)

weapsubtype1_txt
Unknown Explosive Type                       48807
Unknown Gun Type                             40783
Automatic or Semi-Automatic Rifle            18176
Projectile (rockets, mortars, RPGs, etc.)    12031
Vehicle                                      10849
Other Explosive Type                          7870
Handgun                                       7127
Grenade                                       5921
Arson/Fire                                    5681
Landmine                                      5426
Name: count, dtype: int64

In [44]:
attacks_in_france = df1[df1['country_txt'] == 'France' & df1['weaptype1_txt'] == 'Chemical']
attacks_in_france

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]