# Import

In [1]:
import pandas as pd

# Data

In [2]:
file1 = 'data/globalterrorismdb_2021Jan-June_1222dist.xlsx'
file2 = 'data/globalterrorismdb_0522dist.xlsx'

df1 = pd.read_excel('data/globalterrorismdb_2021Jan-June_1222dist.xlsx')
df1.shape

(4960, 135)

In [ ]:
df2 = pd.read_excel('data/globalterrorismdb_0522dist.xlsx')
df2.shape
def isColumnsEqual(df1, df2) -> bool:
    """
    Check if the columns of two dataframes are equal
    @param df1: dataframe 1
    @param df2: dataframe 2
    @return: True if the columns are equal, False otherwise
    """
    return df1.columns.equals(df2.columns)

print("Columns equals", isColumnsEqual(df1, df2))

In [3]:
def columnsEmpty(df) -> list:
    """
    Check if the columns of a dataframe contain some empty values and retuirn the columns with empty values
    @param df: dataframe
    @return: list of columns with empty values
    """
    return df.columns[df.isnull().any()].tolist()

columnsempty = columnsEmpty(df1)
columnsempty

['approxdate',
 'resolution',
 'latitude',
 'longitude',
 'location',
 'alternative',
 'alternative_txt',
 'multiple',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain2',
 'guncertain3',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite2',
 'scite3',
 'related']

In [ ]:
len(columnsempty)

In [4]:
top_terrorist = df1['gname'].value_counts()
top_terrorist.head(10)

gname
Unknown                                        1769
Taliban                                         954
Houthi extremists (Ansar Allah)                 320
Islamic State of Iraq and the Levant (ISIL)     225
Fulani extremists                               181
Boko Haram                                      139
Al-Shabaab                                      128
Maoists                                          73
Indigenous People of Biafra (IPOB)               69
Allied Democratic Forces (ADF)                   68
Name: count, dtype: int64

In [5]:
country_counts = df1['country_txt'].value_counts()
country_counts.head(25)

country_txt
Afghanistan                         1453
Iraq                                 547
Nigeria                              448
Yemen                                290
India                                235
Myanmar                              216
Pakistan                             150
Syria                                144
Democratic Republic of the Congo     142
Somalia                              125
Philippines                          104
Israel                               101
Saudi Arabia                          94
Mali                                  76
Colombia                              76
Burkina Faso                          53
Cameroon                              46
Chile                                 45
West Bank and Gaza Strip              42
Mozambique                            41
United Kingdom                        40
Niger                                 38
Ethiopia                              36
Kenya                                 33
Thailand                              27
Name: count, dtype: int64

In [6]:
attack_type = df1['attacktype1_txt'].value_counts()
attack_type

attacktype1_txt
Bombing/Explosion                      1828
Armed Assault                          1292
Unknown                                 603
Assassination                           450
Hostage Taking (Kidnapping)             448
Facility/Infrastructure Attack          281
Unarmed Assault                          28
Hostage Taking (Barricade Incident)      16
Hijacking                                14
Name: count, dtype: int64

In [7]:
weapon_type = df1['weaptype1_txt'].value_counts()
weapon_type

weaptype1_txt
Explosives                                                                     2089
Firearms                                                                       1718
Unknown                                                                         775
Incendiary                                                                      259
Melee                                                                            97
Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)       9
Sabotage Equipment                                                                7
Chemical                                                                          4
Other                                                                             2
Name: count, dtype: int64

In [8]:
Chemical = df1[df1['weaptype1_txt'] == 'Chemical']
Chemical

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
1600,202101080004,2021,1,8,NaN,0,NaT,4,Afghanistan,6,...,NaN,"""Afghan War Casualty Report: January 2021,"" NY...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
2185,202102140032,2021,2,14,NaN,0,NaT,4,Afghanistan,6,...,Casualties represent a division of the total n...,"""Taliban, Afghan forces suffer several casualt...",NaN,NaN,START Primary Collection,0,0,0,0,"202102140032, 202102140033"
2186,202102140033,2021,2,14,NaN,0,NaT,4,Afghanistan,6,...,Casualties represent a division of the total n...,"""Taliban, Afghan forces suffer several casualt...",NaN,NaN,START Primary Collection,0,0,0,0,"202102140032, 202102140033"
4054,202105240030,2021,5,24,NaN,0,NaT,199,Switzerland,8,...,NaN,"""Terrorist PKK supporters use poison to attack...",NaN,NaN,START Primary Collection,1,0,1,1,NaN

In [9]:
weapon_subtype = df1['weapsubtype1_txt'].value_counts()
weapon_subtype.head(10)

weapsubtype1_txt
Unknown Gun Type                             1410
Unknown Explosive Type                        731
Projectile (rockets, mortars, RPGs, etc.)     420
Landmine                                      238
Arson/Fire                                    188
Automatic or Semi-Automatic Rifle             177
Vehicle                                       174
Remote Trigger                                142
Sticky Bomb                                   112
Grenade                                       107
Name: count, dtype: int64

In [10]:
weapon_subtype = df2['weapsubtype1_txt'].value_counts()
weapon_subtype.head(10)

NameError: name 'df2' is not defined

In [11]:
pd.set_option('display.max_columns', None)
attacks_in_france = df1[(df1['country_txt'] == 'France') & (df1['weaptype1_txt'] == 'Firearms')]
attacks_in_france

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,provstate,city,latitude,longitude,specificity,vicinity,location,summary,crit1,crit2,crit3,doubtterr,alternative,alternative_txt,multiple,success,suicide,attacktype1,attacktype1_txt,attacktype2,attacktype2_txt,attacktype3,attacktype3_txt,targtype1,targtype1_txt,targsubtype1,targsubtype1_txt,corp1,target1,natlty1,natlty1_txt,targtype2,targtype2_txt,targsubtype2,targsubtype2_txt,corp2,target2,natlty2,natlty2_txt,targtype3,targtype3_txt,targsubtype3,targsubtype3_txt,corp3,target3,natlty3,natlty3_txt,gname,gsubname,gname2,gsubname2,gname3,gsubname3,motive,guncertain1,guncertain2,guncertain3,individual,nperps,nperpcap,claimed,claimmode,claimmode_txt,claim2,claimmode2,claimmode2_txt,claim3,claimmode3,claimmode3_txt,compclaim,weaptype1,weaptype1_txt,weapsubtype1,weapsubtype1_txt,weaptype2,weaptype2_txt,weapsubtype2,weapsubtype2_txt,weaptype3,weaptype3_txt,weapsubtype3,weapsubtype3_txt,weaptype4,weaptype4_txt,weapsubtype4,weapsubtype4_txt,weapdetail,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent,propextent_txt,propvalue,propcomment,ishostkid,nhostkid,nhostkidus,nhours,ndays,divert,kidhijcountry,ransom,ransomamt,ransomamtus,ransompaid,ransompaidus,ransomnote,hostkidoutcome,hostkidoutcome_txt,nreleased,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
4140,202105280025,2021,5,28,NaN,0,NaT,69,France,8,Western Europe,Pays de la Loire,La Chapelle-sur-Erdre,47.299576,-1.550638,1,0,NaN,05/28/2021: An assailant stabbed and injured a...,1,1,1,1,4.0,Lack of Intentionality,0.0,1,0,5,Hostage Taking (Barricade Incident),2.0,Armed Assault,NaN,NaN,3,Police,25.0,Police Security Forces/Officers,French Police,Police Personnel,69.0,France,14.0,Private Citizens & Property,67.0,Unnamed Civilian/Unspecified,Not Applicable,Civilian,69.0,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,Firearms,3.0,Handgun,9.0,Melee,23.0,Knife or Other Sharp Object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A knife and a pistol were used in the attack.,1.0,0.0,1.0,3.0,0.0,0.0,0,NaN,NaN,NaN,NaN,1,1.0,0.0,2.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5.0,Successful Rescue,1.0,There is doubt that this incident meets terror...,"""UPDATE 6-French Policewoman Stabbed by Ex-pri...","""Suspect In French Knife Attack On Policewoman...","""Three police officers injured by knifeman in ...",START Primary Collection,-9,-9,0,-9,NaN

In [ ]:
nb = df2['nperps'].value_counts()
nb.head(10)

In [ ]:
Nuclear = df2[df2['weapsubtype1_txt'] == 'Nuclear']
Nuclear

In [ ]:
import matplotlib.pyplot as plt

# Plot top 10 terrorist groups
top_terrorist.head(10).plot(kind='bar')
plt.title('Top 10 Terrorist Groups')
plt.xlabel('Group Name')
plt.ylabel('Number of Attacks')
plt.show()

# Plot attacks by country
country_counts.head(25).plot(kind='bar')
plt.title('Top 25 Countries by Number of Attacks')
plt.xlabel('Country')
plt.ylabel('Number of Attacks')
plt.show()

# Plot attack types
attack_type.plot(kind='bar')
plt.title('Attack Types')
plt.xlabel('Attack Type')
plt.ylabel('Number of Attacks')
plt.show()

# Plot weapon types
weapon_type.plot(kind='bar')
plt.title('Weapon Types')
plt.xlabel('Weapon Type')
plt.ylabel('Number of Attacks')
plt.show()

In [ ]:
print(df1.dtypes)

In [40]:
def export_numerical_data_to_excel(input_file_path : str, output_file_path : str) -> None:
    """
    Reads an Excel file, filters out the numerical columns, and exports them to a new Excel file.
    @param input_file_path: The path to the input Excel file.
    @param output_file_path: The path to the output Excel file where the numerical data will be saved.
    @returns None
    """
    df = pd.read_excel(input_file_path)
    
    numerical_df = df.select_dtypes(include=['number'])
    
    numerical_df.to_excel(output_file_path, index=False)
    
    print(f"Numerical data exported to {output_file_path}")

input_file_path = 'data/globalterrorismdb_2021Jan-June_1222dist.xlsx'
output_file_path = 'data/numerical_data.xlsx'
#export_numerical_data_to_excel(input_file_path, output_file_path)

In [ ]:
df = pd.read_excel('data/numerical_data.xlsx')
print("DF shape:", df.shape)
print("DF columns:", df.columns)
print("DF head:", df.head())

df.hist(figsize=(15, 10))
plt.suptitle('Distribution of Numerical Data')
plt.show()
plt.close()

In [ ]:
df['date'] = df['eventid'].astype(str).str[:8]

attacks_by_day = df['date'].value_counts().sort_index()

plt.figure(figsize=(12, 6))
attacks_by_day.plot(kind='bar')
plt.title('Number of Attacks by Day')
plt.xlabel('Date')
plt.ylabel('Number of Attacks')
plt.xticks(rotation=90)
plt.show()